html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eeeeee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.boody {
  background-image: url(./image/GoIT_baner.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.li__item {
  list-style: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03em;
  padding-bottom: 10px;
}

.item__link {
  text-decoration: none;
  color: black;
}

.item__link:hover {
  color: blanchedalmond;
}
